<div id="<%= dom_id event_partnership %>">
  <p>
    <strong>Event:</strong>
    <%= event_partnership.event_id %>
  </p>

  <p>
    <strong>Partnership:</strong>
    <%= event_partnership.partnership_id %>
  </p>

</div>
