<h1>Editing event partnership</h1>

<%= render "form", event_partnership: @event_partnership %>

<br>

<div>
  <%= link_to "Show this event partnership", @event_partnership %> |
  <%= link_to "Back to event partnerships", event_partnerships_path %>
</div>
