<h1>Editing partnership</h1>

<%= render "form", partnership: @partnership %>

<br>

<div>
  <%= link_to "Show this partnership", @partnership %> |
  <%= link_to "Back to partnerships", partnerships_path %>
</div>
